# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
web/reactpwa/node_modules
web/reactpwa/.pnp
web/reactpwa/.pnp.js

# testing
web/reactpwa/coverage

# production
web/reactpwa/build

# misc
web/reactpwa.DS_Store
web/reactpwa.env.local
web/reactpwa.env.development.local
web/reactpwa.env.test.local
web/reactpwa.env.production.local

web/reactpwanpm-debug.log*
web/reactpwayarn-debug.log*
web/reactpwayarn-error.log*
